.backdrop {
  position: fixed;
  inset: 0; /* все значения, top, right, left, bottom, по нулям, backdrop растягивается на весь viewport */
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  --color-1: rgba(255, 255, 255, 0.75);
  --color-2: #fff;
  --size: 1px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem var(--color-1));
}
.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem var(--color-2);
  animation-name: pulsIn;
}
.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 var(--color-2);
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem var(--color-2);
    opacity: 1;
  }
  50%,
  100% {
    box-shadow: inset 0 0 0 0 var(--color-2);
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%,
  50% {
    box-shadow: 0 0 0 0 var(--color-2);
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem var(--color-2);
    opacity: 1;
  }
}

/* small loader */

.smallLoader {
  --color-1: #fff;
  --size: 1px;

  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border-top: calc(3 * var(--size)) solid var(--color-1);
  border-right: calc(3 * var(--size)) solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
