.theme {
	display: flex;
	align-items: center;
	flex: 0 0 auto;
	-webkit-tap-highlight-color: transparent;
}

.themeToggleWrap {
	--toggle-width: 6em;
	--toggle-height: 3em;
	--toggle-padding: 0.25em;
	--knob-size: 2.5em;
	--knob-shift: 3em;

	position: relative;
	display: block;
	width: var(--toggle-width);
	height: var(--toggle-height);
	margin: 0;
	font-size: 14px;
}

.themeToggle {
	position: absolute;
	inset: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	opacity: 0;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
}

.themeFill {
	position: absolute;
	inset: 0;
	border-radius: 25% / 50%;
	background-color: hsl(48, 90%, 85%);
	box-shadow: 0 0 0 0.125em var(--primaryT);
	transition: background-color 0.3s ease-in-out, box-shadow 0.15s ease-in-out;
}

.themeKnob {
	position: absolute;
	top: var(--toggle-padding);
	left: var(--toggle-padding);
	z-index: 2;
	width: var(--knob-size);
	height: var(--knob-size);
	border-radius: 50%;
	background-color: hsl(48, 90%, 55%);
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
	pointer-events: none;
}

.themeIcon {
	position: absolute;
	inset: 0;
	width: 1.5em;
	height: 1.5em;
	margin: auto;
}

.sunIcon,
.moonIcon {
	position: absolute;
	inset: 0;
	margin: auto;
	transition: opacity 0.3s ease-in-out;
}

.sunIcon {
	width: 1.5em;
	height: 1.5em;
	opacity: 1;
}

.sunIconPart {
	position: absolute;
	border-radius: 50%;
	box-shadow: 0.4em -0.4em 0 0.5em hsl(0, 0%, 100%) inset;
	top: calc(50% - 0.5em);
	left: calc(50% - 0.5em);
	width: 1em;
	height: 1em;
	transform: scale(0.5);
}

.sunIconPart ~ .sunIconPart {
	background-color: hsl(0, 0%, 100%);
	border-radius: 0.05em;
	box-shadow: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg) translateY(-0.62em);
	transform-origin: 50% 50%;
	width: 0.1em;
	height: 0.2em;
}

.sunIconPart:nth-child(3) {
	transform: translate(-50%, -50%) rotate(45deg) translateY(-0.62em);
}

.sunIconPart:nth-child(4) {
	transform: translate(-50%, -50%) rotate(90deg) translateY(-0.62em);
}

.sunIconPart:nth-child(5) {
	transform: translate(-50%, -50%) rotate(135deg) translateY(-0.62em);
}

.sunIconPart:nth-child(6) {
	transform: translate(-50%, -50%) rotate(180deg) translateY(-0.62em);
}

.sunIconPart:nth-child(7) {
	transform: translate(-50%, -50%) rotate(225deg) translateY(-0.62em);
}

.sunIconPart:nth-child(8) {
	transform: translate(-50%, -50%) rotate(270deg) translateY(-0.62em);
}

.sunIconPart:nth-child(9) {
	transform: translate(-50%, -50%) rotate(315deg) translateY(-0.62em);
}

.moonIcon {
	width: 1em;
	height: 1em;
	border-radius: 50%;
	box-shadow: 0.2em -0.2em 0 0.2em hsl(0, 0%, 100%) inset;
	opacity: 0;
}

.themeToggle:focus-visible ~ .themeFill {
	box-shadow: 0 0 0 0.125em var(--primary);
}

.themeToggle:checked ~ .themeFill {
	background-color: hsl(198, 90%, 15%);
}

.themeToggle:checked ~ .themeKnob {
	background-color: hsl(198, 90%, 55%);
	transform: translateX(var(--knob-shift));
}

.themeToggle:checked ~ .themeKnob .sunIcon {
	opacity: 0;
}

.themeToggle:checked ~ .themeKnob .moonIcon {
	opacity: 1;
}

@media (max-width: 520px) {
	.themeToggleWrap {
		font-size: 11px;
	}
}
