.controlsContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; /* чтобы контейнер был по центру */
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.noCardsInfo {
  width: fit-content;
  margin: 0 auto;
  
}

.select {
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--card-bg-color);
  border: none;
  outline: none;
  color: var(--text-color);
  flex-grow: 1;
}

/* если ширина viewport становится равной 576px, к классу controlsContainer применяется flez-wrap */
@media (max-width: 576px) {
  .controlsContainer {
    flex-wrap: wrap-reverse;
  }
}